[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
web3 = "*"
plotapi = "*"
plotly = "*"
pyecharts = "*"
jupyter = "*"
numpy = "*"
tqdm = "*"
pandas = "*"
matplotlib = "*"
ethereum2-etl = "*"

[dev-packages]

[requires]
python_version = "3.9"
